PORT=4000
OMDB_API_KEY=YOUR_OMDB_API_KEY
MONGO_URI=mongodb+srv://shijayzoro:bREsiivT9XpjWmbG@circlify.2dub3.mongodb.net/MovieDb?retryWrites=true&w=majority
JWT_ACCESS_SECRET=change_this_access_secret
JWT_REFRESH_SECRET=change_this_refresh_secret
ACCESS_EXPIRES=15m
REFRESH_EXPIRES=7d
